/*** Helper classes and bootstrap overrides ***/
.inline-block{
	display: inline-block;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.hidden{
	display: none;
}
.container-fluid{
	max-width: 1900px;
}
.navbar-toggler{
	padding: 0 0 0 1.5rem;
}
.navbar-toggler:focus{
	outline: none;
}
a:hover{
	text-decoration: none;
}
@media (max-width: 768px) {
	.no-margin-md{
		margin: 0!important;
	}
}
img.media-object{
	max-width: 100px;
}
.red{
	color: #ec2635;
}
.blue{
	color: #1d1546;
}
.white{
	color: #ffffff;
}
/*** END ***/

@font-face {
    font-family: 'Butler';
    src: url('fonts/Butler/butler_regular-webfont.eot');
    src: url('fonts/Butler/butler_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Butler/butler_regular-webfont.woff2') format('woff2'),
         url('fonts/Butler/butler_regular-webfont.woff') format('woff'),
         url('fonts/Butler/butler_regular-webfont.ttf') format('truetype'),
         url('fonts/Butler/butler_regular-webfont.svg#butlerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.butler{
	font-family: 'Butler';
}
@font-face {
    font-family: 'DIN';
    src: url('fonts/DIN/ff_din_bold-webfont.eot');
    src: url('fonts/DIN/ff_din_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DIN/ff_din_bold-webfont.woff2') format('woff2'),
         url('fonts/DIN/ff_din_bold-webfont.woff') format('woff'),
         url('fonts/DIN/ff_din_bold-webfont.ttf') format('truetype'),
         url('fonts/DIN/ff_din_bold-webfont.svg#dinbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
.din{
	font-family: 'DIN';
}

.fa.big{
	font-size: 1.8rem;
}

/****** HEADER *****/
body{
	padding-top: 170px;
}

header{
	background-color: white;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}

@media (max-width: 1200px){
	body{
		padding-top: 185px;
	}
}

@media (max-width: 768px){
	body{
		padding-top: 100px;
	}
	.navbar img.hidden-xl-up{
		width: 140px!important;
	}
}

@media (min-width: 768px){
	.navbar img.hidden-xl-up{
		margin-bottom: 20px;
	}
}

nav{
	font-size: 1.3em;
	/* Keep search on top of nav */
	z-index: -1;
}

header .btn-link:focus{
	outline: none;
}

nav ul li > a:hover, nav ul li > a.active, nav ul li > a.dropdown-toggle[aria-expanded="true"]{
	color: #ec2635;
	padding-bottom: 5px;
	box-shadow: 0px 11px 0px -8px #ec2635;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.dropdown-menu a:hover{
	color: #ec2635;
}

nav img{
	width: 20%;
	max-width: 450px;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}

.navbar img.hidden-xl-up{
	width: 20%;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}

@media (min-width: 1200px) {
	nav img{
		width: 17%;
	}
}

.nav-inline .nav-item+.nav-item,
.nav-inline .nav-link+.nav-link{
	margin-left: 2%;
}

/* Reduced nav on scroll */
.navbar.tiny img{
	width: 170px;
}

.navbar.tiny nav{
	font-size: 1.3rem;
	margin: 0!important;
}
.navbar.tiny .no-margin-md{
	margin: 0!important;
}

/****** HOME *****/
#mosaic .display-1{
	font-size: 5vmax;
}
#mosaic .display-2{
	font-size: 4vmax;
}
#mosaic .display-3{
	font-size: 3vmax;
}
#mosaic .display-4{
	font-size: 2.5vmax;
}

/* Prevent text from becoming too big */
@media (min-width: 1600px){
	#mosaic .display-1{
		font-size: 4.5rem;
	}
	#mosaic .display-2{
		font-size: 2.5rem;
	}
	#mosaic .display-3{
		font-size: 2rem;
	}
	#mosaic .display-4{
		font-size: 1.5rem;
	}
}

#mosaic > div:nth-child(1) div{
	top: 2%;
	left: 10%;
}

#mosaic > div:nth-child(2) div{
	top: 55%;
	left: 5%;
}

#mosaic > div:nth-child(3) div{
	top: 2%;
	right: 12%;
}

#mosaic > div:nth-child(4) div{
	top: 2%;
	left: 13%;
}

.btn-secondary-outline.custom{
	border: 2px solid #ec2635;
	padding: 0.1rem 1.7rem;

	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}

.btn-secondary-outline.custom.btn-lg{
	border: 4px solid #ec2635;
	padding: 0.4rem 2rem;
}

.blue-bg{
	background-color: #1b1245;
	color: #f4f4f4;
}
/****** NEWS *****/
.news-header{
	background: url('img/sample_big.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	height: 700px;
	margin-bottom: -400px;

	/* Reveal effect */
	-webkit-clip-path: ellipse(0% 0% at 50% 0%);
	clip-path: ellipse(0% 0% at 50% 0%);
	/* Fix for Firefox where clip-path only works with url */
	clip-path: url('assets/clipPath.svg#clipPath');
	transition: all 3s cubic-bezier(0.19, 1, 0.22, 1);
	-moz-transition: all 3s cubic-bezier(0.19, 1, 0.22, 1);
	-webkit-transition: all 3s cubic-bezier(0.19, 1, 0.22, 1);
	-o-transition: all 3s cubic-bezier(0.19, 1, 0.22, 1);
	-ms-transition: all 3s cubic-bezier(0.19, 1, 0.22, 1);
}

.news-header.active{
	-webkit-clip-path: ellipse(100% 100% at 50% 0%);
	clip-path: ellipse(100% 100% at 50% 0%);
}

.news-header h2 {
	padding-top: 185px;
	font-size: 5vmax;
}

@media (min-width: 1200px){
	.news-header h2 {
		font-size: 4.5rem;
	}
}

.news-article [class^='col']{
	background-color: white;
}

.news-article > div:first-child{
	box-shadow: 12px 10px 0px -11px rgba(0,0,0,.1);
	z-index: 1;
}

.toggle:hover, .toggle:focus{
	color: #ec2635;
	text-decoration: none;
	outline: none;
}

/* Shitty hack to transform a col-3 to col-2 on bigger screen
 because the fucking canvas do not want to be responsvie */
@media (min-width: 1600px){
	.news-article > div:nth-child(2){
		width: 16.666667%;
	}
}

#map{
	width: 100%;
	min-width: 250px;
	max-width: 250px;
	min-height: 180px;
	height: auto;
}

#map canvas{
	width: 100%;
	height: 100%;
}

/****** EDITORIAL *****/
#edito-container{
	display: flex;
	align-items: stretch;
}

#edito-container > div > p:first-of-type{
	font-size: 1.2rem;
	font-style: italic;
}

#edito-container > div:nth-child(1){
	z-index: 1;
}

#edito-container > div:nth-child(2) a{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}

#edito-container > div:nth-child(2) a:hover, #edito-container > div:nth-child(2) a:focus{
	text-decoration: none;
	color: #ec2635;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}

#next-page{
	background-image: url('assets/blurredText.svg');
	position: absolute;
	height: 85%;
	width: 100%;
	top: 4%;
	z-index: -2;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	ms-filter: blur(2px);
	filter: blur(2px);
}

#gradient{
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(255,255,255,0) 100%);
	position: absolute;
	height: 87%;
	width: 100%;
	right: 9%;
	top: 4%;
	z-index: -1;
}

#overlay{
	z-index: 1;
}

/****** FOOTER *****/
footer{
	background-color: #2f2f2f;
	color: #ffffff;
}

footer a{
	color: #ffffff;
}

footer a:hover, footer a:focus{
	text-decoration: none;
	color: #ec2635;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}

footer ul li{
	margin-right: 0!important;
	padding: 2% 3%;
}

footer ul li+li{
	border-left: 1px solid #ffffff;
}

footer .fa{
	color: #2f2f2f;
	background-color: #ffffff;
	padding: 10px;
	border-radius: 50% 50%;
}

/* Keep all icons the same round size */
footer .fa.fa-facebook {
	padding: 10px 16px;
}
footer .fa.fa-instagram{
	padding: 10px 12px;
}

/* FIXME only on big screen */
/*footer .center-block{
	width: 50%;
}*/
